@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

textarea {
  font-family: inherit;
  font-size: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #C4C4C4;
  padding: 2rem;
  margin-bottom: 5rem;
}

.header p {
  font-size: 2rem;
  font-weight: bold;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5rem;
  padding: 0 10rem;
}

.result__image {
  width: 25rem;
  height: 25rem;
}

.result__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.result__form-input {
  font-size: 1.5rem;
  width: 25rem;
  background-color: black;
  margin-bottom: 1rem;
  color: white;
  padding: 1rem;
}

.result__form-input p {
  margin-bottom: 1rem;
}

.result__form-input p:last-child {
  margin: 0;
}

.result__form-input-title {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.result__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15rem;
  height: 5rem;
  border-radius: 5rem;
  background-color: #C4C4C4;
  padding: 0 1rem;
}

.result__logo p {
  font-size: 2.4rem;
  font-weight: bolder;
}

.add-client {
  padding: 0 10rem;
  margin-bottom: 5rem;
}

.add-client__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25rem;
}

.add-client__input {
  background-color: black;
  color: white;
  margin-bottom: 2rem;
  padding: 1rem;
}

.add-client__button {
  background-color: black;
  color: white;
  padding: 1rem;
  cursor: pointer;
}

.login-form {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
}

.login-form__input {
  padding: 1rem;
  background-color: black;
  color: white;
  margin-bottom: 1rem;
}

.login-form__button {
  padding: 1rem;
  background-color: black;
  color: white;
}
/*# sourceMappingURL=main.css.map */